html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  footer {
    display: block;
  }
  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://onecam.ru/fonts/opensans/subset-OpenSans-Regular.woff2") format("woff2"),
      url("https://onecam.ru/fonts/opensans/subset-OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://onecam.ru/fonts/opensans/subset-OpenSans-SemiBold.woff2") format("woff2"),
      url("https://onecam.ru/fonts/opensans/subset-OpenSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://onecam.ru/fonts/opensans/subset-OpenSans-Bold.woff2") format("woff2"),
      url("https://onecam.ru/fonts/opensans/subset-OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    height: 100%;
    font-size: 16px;
  }
  body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-size: 1rem;
    line-height: 1.618;
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: normal;
    color: #181b28;
    background-color: #fff;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
  }
  ::-moz-selection {
    background-color: #dd182b;
    color: #fff;
  }
  ::selection {
    background-color: #dd182b;
    color: #fff;
  }
  a:link,
  a:visited {
    color: #dd182b;
  }
  a:hover {
    color: #ed5866;
    text-decoration: none;
  }
  a:focus {
    outline: 0;
  }
  .container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .container::before,
  .container::after {
    content: "";
    display: table;
  }
  .footer {
    color: #fff;
    background-color: #2f313d;
    margin-top: auto;
  }
  .footer__main {
    padding: 50px 0;
  }
  @media (max-width: 1024px) {
    .footer__main {
      padding: 30px 0;
    }
  }
  @media (max-width: 768px) {
    .footer__main {
      padding: 20px 0;
    }
  }
  .footer__main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  @media (max-width: 650px) {
    .footer__main-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }
  .footer__logo {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  @media (max-width: 850px) {
    .footer__logo {
      display: none;
    }
  }
  .footer__logo .logo {
    display: block;
  }
  .footer__logo .logo__svg {
    display: block;
    width: 231px;
    height: 80.25px;
    margin-left: -5px;
    padding-left: 5px;
    overflow: visible;
  }
  @media (max-width: 1024px) {
    .footer__logo .logo__svg {
      width: 160px;
      height: 55px;
    }
  }
  .footer__phone,
  .footer__email {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  .footer__phone-icon,
  .footer__email-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .footer__phone-icon svg,
  .footer__email-icon svg {
    display: block;
    width: 28px;
    height: 28px;
  }
  .footer__phone-icon path,
  .footer__email-icon path {
    fill: #dd182b;
  }
  .footer__phone-icon path[fill="none"] {
    fill: none;
    stroke: #dd182b;
  }
  .footer__phone-link,
  .footer__email-link {
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  .footer__phone-link:link,
  .footer__email-link:link,
  .footer__phone-link:visited,
  .footer__email-link:visited {
    color: #fff;
  }
  @media (max-width: 1024px) {
    .footer__phone-link,
    .footer__email-link {
      font-size: 20px;
    }
  }
  @media (max-width: 650px) {
    .footer__email {
      margin-top: 5px;
    }
  }
  .footer .social {
    display: inline-block;
    vertical-align: middle;
  }
  @media (max-width: 650px) {
    .footer .social {
      margin-top: 10px;
    }
  }
  .footer__secondary {
    background-color: #888;
    padding: 14px 0;
  }
  .footer__secondary a {
    color: #fff;
    text-decoration: underline;
  }
  .footer__secondary-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @media (max-width: 1100px) {
    .footer__secondary-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: center;
    }
  }
  .footer__secondary-text {
    font-size: 14px;
  }
  @media (max-width: 1100px) {
    .footer__secondary-text + .footer__secondary-text {
      margin-top: 5px;
    }
  }
  @supports (display: grid) {
  }
  @supports (display: grid) {
  }
  .form-input:focus:not(
      [readonly],
      .postfix-input:focus:not([readonly], .form-input--transparent),
      .postfix-input--transparent
    ) {
    border-color: rgba(221, 24, 43, 0.2);
    -webkit-box-shadow: 0 0 0 2px rgba(221, 24, 43, 0.2);
    box-shadow: 0 0 0 2px rgba(221, 24, 43, 0.2);
  }
  .bg-main
    .form-input:focus:not(
      [readonly],
      .bg-main
        .postfix-input:focus:not([readonly], .bg-main .form-input--transparent),
      .bg-main .postfix-input--transparent
    ) {
    -webkit-box-shadow: 0 0 0 2px rgba(47, 49, 61, 0.4);
    box-shadow: 0 0 0 2px rgba(47, 49, 61, 0.4);
  }
  .logo__svg {
    display: block;
  }
  .logo__circle {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .logo:hover .logo__circle {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .logo__inner-circle {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .logo:hover .logo__inner-circle {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .logo__circle-top-half,
  .logo__circle-bottom-half,
  .logo__inner-circle-top-half,
  .logo__inner-circle-bottom-half {
    fill: #808285;
  }
  .logo__O {
    fill: #dd182b;
  }
  .logo__N,
  .logo__E,
  .logo__C,
  .logo__A,
  .logo__M {
    fill: #181b28;
  }
  .logo--footer .logo__N,
  .logo--footer .logo__E,
  .logo--footer .logo__C,
  .logo--footer .logo__A,
  .logo--footer .logo__M {
    fill: #fff;
  }
  .logo__dot,
  .logo__r,
  .logo__u {
    fill: #dd182b;
  } /* PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */ /* PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0 -5px;
  }
  .social__link {
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    -webkit-transition: background-color 0.15s ease-out,
      border-color 0.15s ease-out;
    transition: background-color 0.15s ease-out, border-color 0.15s ease-out;
  }
  .social__link:hover {
    background-color: #dd182b;
    border-color: #dd182b;
  }
  .social__icon {
    display: block;
  }
  .social__icon svg {
    display: block;
    width: 18px;
    height: 18px;
  }
  .social__icon path {
    fill: #fff;
    -webkit-transition: fill 0.15s ease-out;
    transition: fill 0.15s ease-out;
  }